<h1>Inventory discrepancies</h1>

<div class="row">

  <div class="col-sm-2">
    <app-location></app-location>
  </div>
  <div class="col-sm-2">
    <app-department></app-department>
  </div>
  <div class="col-sm-2">
    <app-items></app-items>
  </div>

  <div class="col-sm-6">
    <app-line-chart></app-line-chart>
  </div>

</div>
<div class="row">
  <div class="col-sm-2">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-line-chart></app-line-chart>
  </div>
</div>
