<h1>Inventory discrepancies</h1>

<div class="row">

  <div class="col-sm-2">
    <app-location [locationdata]="locations" *ngIf="locations"></app-location>
  </div>
  <div class="col-sm-2">
    <app-department [departmentdata]="departments" *ngIf="departments"></app-department>
  </div>
  <div class="col-sm-2">
    <app-items [itemdata]="items" *ngIf="items"></app-items>
  </div>

  <div class="col-sm-6">
    <app-pie-chart [departmentsdata]="departments" *ngIf="departments"></app-pie-chart>
  </div>

</div>
<div class="row row-padding">
  <div class="col-sm-2">
    <app-doughnut-chart [locationdata]="locations" *ngIf="locations" [header]="'Ratio of affected location'"></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <app-doughnut-chart [header]="'Ratio of affected deps'"></app-doughnut-chart>
  </div>
  <div class="col-sm-2">
    <div class="card card-text-size">

      <div class="card-body">
        <div class="chartjs-container">
          <span>
            Estimated Discrepancy Value
          </span>
          <div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-line-chart></app-line-chart>
  </div>
  <div class="col-sm-6">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
