.row-padding{
    margin-top:-18%;
}
.card-text-size {
  font-size: 10pt;
  text-align: center;
  height: 144px;
}
.bar-line-padding {
  padding-top: 100px;
}
.legend-text {
  color: red;
  font-weight: bold;
  
}
